@model UmbrellaRentalSystem.Models.Umbrella

@{
    ViewData["Title"] = "刪除雨傘";
}

<h1>刪除雨傘</h1>

<h3>確定要刪除這把雨傘嗎？</h3>
<div>
    <h4>Umbrella</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">資料庫編號</dt>
        <dd class="col-sm-10">@Model.UmbrellaId</dd>
        <dt class="col-sm-2">雨傘編號</dt>
        <dd class="col-sm-10">@Model.UmbrellaCode</dd>
        <dt class="col-sm-2">狀態</dt>
        <dd class="col-sm-10">@Model.Status</dd>
        <dt class="col-sm-2">地點編號</dt>
        <dd class="col-sm-10">@Model.LocationId</dd>
        <dt class="col-sm-2">贊助商編號</dt>
        <dd class="col-sm-10">@Model.SponsorId</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UmbrellaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>